body {
    background-color:white;
}

nav {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.navbar-nav {
    text-align: center;
}

.navbar-collapse {
    justify-content: center;
}

.logo {
    margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        align-self: flex-end;
        position: static;
    }
    nav {
        margin-top:1rem;
    }
}

@media only screen and (min-width: 768px) {
    .insta-icon {
        position: absolute;
        right: .8rem;
    }
    .collapse {
        margin-right: 4rem;
    }
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}